<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12">
        <div class="row" style="padding:20px">
          <h3>{{contact?.name}}</h3>
          <img src="{{contact?.imageUrl}}" alt="{{contact?.name}}">
          <div>
            <a
            class="btn btn-danger pull-right"
            style="color:white"
            (click)="onDelete()"
            >Delete</a>
            <a
            class="btn btn-primary pull-right"
            style="color:white"
            routerLink="../:id/edit"
            >Edit</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <p>Email: {{contact?.email}}</p>
        <p>Phone: {{contact?.phone}}</p>
      </div>
    </div>
  </div>
</div>
